* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: black;
}

video {
    max-width: 100%;
}

img {
    max-width: 100%;
}

svg {
    width: 8%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 58% 42%;
    height: 100vh;
}

.right,
.left {
    padding: 1%;
}

.right {
    overflow-y: auto;
    display: grid;
    grid-template-rows: 10% 90%;
    padding-top: 2%;
    position: relative;
    width: 100%;
}

.left {
    display: grid;
    grid-template-rows: 10% 85%;
    gap: 5%;
}

.about {
    display: grid;
    grid-template-columns: 15% 48% 15% 19%;
    gap: 1%;

}


.content video,
.content img {
    width: 100%;
    height: auto;
}

.logo {
    padding: 10px;
    background-image: url(./media/logo.png);
    background-position: center;
    background-size: 78%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    display: flex;
    flex-direction: row;
    gap: 8%;
}

.catalog {
    display: grid;
    grid-template-columns: 15% 23% 24% 35%;
    gap: 1%;
}

.workList {
    display: flex;
    flex-direction: column;
}

.workList div {
    display: flex;
    gap: 7%;
    cursor: pointer;
}

.workList>*:first-child {
    margin-bottom: 10px;
}

.space {
    margin-top: 10%;
}

.space :first-child {
    height: 100%;
    width: 14px;
    margin-right: 11px;
}

.unGrid {
    /* for space imgs only */
    display: inline;
    padding: 0px;
}

.unGrid img {
    margin-bottom: 1%;
}

.frame-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.right img.visible {
    opacity: 1;
}

.workInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-self: flex-start;
    gap: 2%;
}

.workInfo p {
    width: 33.3%;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}